<div id="privacy">
	<h1>$!lang.get("privacy.title")</h1>
	<div class="viewbox">
	<p>
		Le présent avis de confidentialité décrit les pratiques de la communauté SuperIndep.fr en matière de confidentialité. Cet avis de confidentialité s'applique uniquement aux informations recueillies par le site web communaute.superindep.fr. Il vous informe de ce qui suit :
	</p>
	<ol class="squarelist mlm mbl">
		<li>
			Quelles sont les informations personnelles identifiables qui sont recueillies auprès de vous par le biais du site Web.
		</li>
		<li>
			Comment elles sont utilisées et avec qui elles peuvent être partagées.
		</li>
		<li>
			Les choix qui s'offrent à vous concernant l'utilisation de vos données.
		</li>
		<li>
			Les procédures de sécurité en place pour protéger l'utilisation abusive de vos informations.
		</li>
		<li>
			Comment vous pouvez corriger toute inexactitude dans les informations.
		</li>
	</ol>

	<h2>
		Collecte, utilisation et partage des informations
	</h2>
	<p>
		Nous sommes les seuls propriétaires des informations recueillies sur ce site. Nous n'avons accès qu'aux informations que vous nous donnez volontairement par le biais de notre site Web, d'un courrier électronique ou de tout autre contact direct avec vous. Nous ne vendrons ni ne louerons ces informations à quiconque.
	</p>
	<p>
		Nous utiliserons vos informations pour vous répondre, en fonction de la raison pour laquelle vous nous avez contactés. Nous ne partagerons pas vos informations avec des tiers en dehors de notre organisation, sauf si cela est nécessaire pour répondre à votre demande, par exemple pour expédier une commande.
	</p>
	<p>
		À moins que vous ne nous demandiez de ne pas le faire, il se peut que nous vous contactions par courrier électronique à l'avenir pour vous informer de nos offres spéciales, de nos nouveaux produits ou services, ou des modifications apportées à la présente politique de confidentialité.
	</p>

	<h2>
		Votre accès et votre contrôle sur les informations
	</h2>
	<p>
		Vous pouvez choisir de ne plus être contacté par nous à tout moment. Vous pouvez faire ce qui suit à tout moment en nous contactant <a href="mailto:privacy@communaute.superindep.fr">par e-mail</a>:
	</p>

	<ol class="squarelist mlm mbl">
		<li>
			Voir quelles données nous possédons à votre sujet, le cas échéant.
		</li>
		<li>
			Modifier/corriger les données que nous détenons à votre sujet.
		</li>
		<li>
			Nous demander de supprimer les données que nous possédons à votre sujet.
		</li>
		<li>
			Exprimer toute préoccupation concernant l'utilisation que nous faisons de vos données.
		</li>
	</ol>

	<h2>Sécurité</h2>
	<p>
		Nous prenons des précautions pour protéger vos informations. Lorsque vous soumettez des informations sensibles via le site web, vos informations sont protégées à la fois en ligne et hors ligne.
	</p>

	<p>
		Si nous utilisons le chiffrement pour protéger les informations sensibles transmises en ligne, nous protégeons également vos informations hors ligne. Seuls les employés qui ont besoin de ces informations pour effectuer un travail spécifique (par exemple, la facturation ou le service clientèle) ont accès aux informations permettant d'identifier les personnes. Les ordinateurs/serveurs dans lesquels nous stockons les informations personnelles identifiables sont conservés dans un environnement sécurisé.
	</p>

	<h2>Inscription</h2>
	<p>
		L'inscription à notre site web est facultative. L'enregistrement permet aux utilisateurs de télécharger du contenu sur notre site web. Les utilisateurs acceptent notre licence (voir le bloc de licence au bas de cette page) lorsqu'ils s'inscrivent. En règle générale, cela signifie que tout le contenu fourni par les utilisateurs peut être copié à grande échelle, à des fins commerciales ou non, et sous une forme modifiée ou non. Si vous n'êtes pas d'accord avec cela, n'utilisez pas le service.
	</p>
	<p>
		Lors de son inscription, l'utilisateur doit fournir certaines informations (telles que son nom et son adresse électronique). Ces informations sont utilisées pour vous contacter au sujet des produits/services de notre site pour lesquels vous avez exprimé un intérêt. Si vous le souhaitez, vous pouvez également fournir des informations démographiques (telles que le sexe ou l'âge) vous concernant, mais ce n'est pas obligatoire. Les informations de votre profil (y compris votre nom et votre avatar) sont publiques et peuvent être téléchargées et réutilisées par d'autres services, soit à partir de l'interface HTML, soit en vrac sous forme de fichiers FOAF.
	</p>

	<h2>Cookies</h2>
	<p>
		Nous utilisons des "cookies" sur ce site. Un cookie est un élément de données stocké sur le disque dur d'un visiteur du site pour nous aider à améliorer votre accès à notre site et à identifier les visiteurs réguliers de notre site. Par exemple, lorsque nous utilisons un cookie pour vous identifier, vous n'avez pas besoin de vous connecter plusieurs fois avec un mot de passe, ce qui vous fait gagner du temps sur notre site. Les cookies peuvent également nous permettre de suivre et de cibler les intérêts de nos utilisateurs afin d'améliorer leur expérience sur notre site. L'utilisation d'un cookie n'est en aucun cas liée à des informations personnelles identifiables sur notre site.
	</p>

	<h2>Partage de l'information</h2>
	<p>
		L’email est une donnée privée qui ne sera pas partagée avec d'autres utilisateurs, des partenaires commerciaux ou le grand public.
	</p>
	<p>
		Toute autre donnée que vous partagez sur notre site web est considérée comme publique et fait l'objet de la licence spécifiée au bas de cette page, notamment votre pseudo (qui peut contenir vos nom et prénom à votre discrétion), votre localisation, votre site internet, la section “à propos de moi”, votre photo/image de profil et vos contributions (questions/réponses).
	</p>

	<h2>Liens</h2>
	<p>
		Ce site web contient des liens vers d'autres sites. Sachez que nous ne sommes pas responsables du contenu ou des pratiques de confidentialité de ces autres sites. Nous encourageons nos utilisateurs à être attentifs lorsqu'ils quittent notre site et à lire les déclarations de confidentialité de tout autre site qui collecte des informations personnellement identifiables.
	</p>
	</div>
</div>
