/* buttons, headings and links */
a, h1, h2, .dropdown-content li>a, .dropdown-content li>span { color: #039be5; }
.btn, .btn-large, .navbtn-hover { background-color: #ff799c; }
.btn:focus, .btn-large:focus, .btn-floating:focus { background-color: #ff799c; opacity: 0.7; }
.filter-active { background-color: #039be5; color: white; }

/* nav bar and footer */
body, footer.page-footer { background-color: #1e0f58; }
.navbar-color { background-color: #1e0f68; }

/* switches and inputs */
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after { background-color: #039be5; }
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after { border: 2px solid #039be5; }
.switch label input[type=checkbox]:checked+.lever { background-color: #93dafa; }
.switch label input[type=checkbox]:checked+.lever:after { background-color: #1e0f68; }

/* progress bars */
.progress .indeterminate { background-color: #039be5; }
.progress { background-color: #93dafa; }

/* tabs */
.tabs .tab a:hover, .tabs .tab a.active, .tabs .tab a { color: #039be5; }
.tabs .indicator { background-color: #039be5; }

.brand-logo a { display: block; }
.scoold-logo { vertical-align: middle; }

.footer-links { display: flex; text-align: center; }
.footer-links a { padding: 0.3em 0.25em; display: block; }

.signin-bigButton { display: flex; align-items: center; line-height: 1.3; text-align: left; width: 100%; }
.signin-bigButton--register { font-weight: bold; }


@media (max-width: 600px) {
    .scoold-logo { max-width: calc(100vw - 70px); height: auto; }
    nav .brand-logo { transform: none; left: unset; right: 0 }

    .footer-links { flex-direction: column; }
}
